/* Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: sans-serif;
  background-color: #ededed;
}

.container
{
  width: 80%;
  max-width: 1200px;
  margin: auto
}


/* Header */
header
{
  background-color: aqua;
  padding: 0.5rem 1rem;

}

ul
{
  list-style: none;
  line-height: 1.5rem;
}

section
{
  padding: 2rem 0;

  h3
  {
    margin-top: 2rem;
    margin-bottom: .5em;
  }
}


.badge
{
  margin-left: .75rem;
  padding: .4rem.8rem;
  font-size: 10px;
  background-color: #333;
  color: white;
}